body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
    background-color: lemonchiffon;
    font-family: "Nunito", sans-serif;
}

#titolo {
    color: darkmagenta;
    text-shadow: 4px 4px lightsteelblue;
}

span {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: lavender;
    width: 25rem;
    height: 2rem;
    border-radius: 15px;
    margin: 5px 0;
}

#backrisultato {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    background-color: lightcoral;
    width: 25rem;
    border-radius: 15px;
    margin: 10px 0;
}

.prisultato {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    margin: 10px 0;
    border-style: none;
}

#risultato {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20rem;
    font-size: 15px;
    margin: 10px 5px;
    padding: 10px;
    background-color: white;
    box-shadow: 5px 5px lightseagreen;
    border-radius: 10px;
    list-style: none;
}

.button {
    width: 5rem;
    padding: 10px 20px;
    border-style: none;
    box-shadow: 5px 5px lightseagreen;
    border-radius: 10px;
}

.messi {
    color: lightskyblue;
    background-color: lemonchiffon;
    box-shadow: 5px 5px lightskyblue;
    border-radius: 10px;
}

.messerr {
    color: red;
    background-color: wlemonchiffon;
    box-shadow: 5px 5px red;
    border-radius: 10px;
}

